name: Scala CI

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
    - name: Check sbt formatting
      run: sbt scalafmtSbtCheck
    - name: Check code formatting
      run: sbt scalafmtCheckAll
    - name: Check headers
      run: sbt headerCheck
    - name: Run tests
      run: sbt test
